#!/bin/bash

LOGFILE={{ project_root }}/logs/scan_uploader_hook.log
FNAME=$1

date >> $LOGFILE
echo "Received: $FNAME" >> $LOGFILE
scan_uploader_hook.py --move-file --received-dir="{{ project_root }}/ftp-received" -v "$FNAME" >> $LOGFILE 2>&1
RESULT=$?

if [ $RESULT -eq 0 ]; then
    rm "$FNAME"
fi
