; Config for {{ project_name }}
[program:{{ project_name }}]
command={{ project_venv }}/bin/python {{ project_venv }}/bin/scan_uploader.py
environment=FTP_UPLOAD_SERVER="{{ ftp_upload_server }}",FTP_UPLOAD_USER="{{ ftp_upload_user }}",FTP_UPLOAD_PASS="{{ ftp_upload_pass }}",FTP_UPLOAD_INTERVAL="{{ ftp_upload_interval }}",FTP_RECEIVED_DIR="{{ ftp_received_dir }}",FTP_UPLOADED_DIR="{{ ftp_uploaded_dir }}"
directory={{ project_root }}
stdout_logfile = /var/log/supervisor/{{ project_name }}-application.log
stdout_logfile_backups = 5
stderr_logfile = /var/log/supervisor/{{ project_name }}-error.log
stderr_logfile_backups = 5
autostart = true
user = {{ project_user }}
